<div class="app-bar">
  <div class="menu-toggle" (click)="toggleMenu()">
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
  </div>
  <nav [class.menu-open]="isMenuOpen">
    @for (link of links; track $index) {
    <a
      [routerLink]="link.path"
      [ngStyle]="{ '--link-color': link.color }"
      [class.active]="link.path.replace('/', '') === currentPath"
      class="nav-link"
      (click)="isMenuOpen = false"
    >
      {{ link.nameKey | translate }}
      <span class="underline"></span>
    </a>
    }
  </nav>
  <div class="right">
    <div class="socials">
      <a
        href="mailto:tanguy.hardion@etu.utc.fr"
        target="_blank"
        rel="noopener noreferrer"
        [title]="'appBar.tooltips.email' | translate"
      >
        <img class="social email" src="assets/images/icons/email.png" />
      </a>
      <a
        href="https://linkedin.com/in/tanguy-hardion"
        target="_blank"
        rel="noopener noreferrer"
        [title]="'appBar.tooltips.linkedin' | translate"
      >
        <img class="social linkedin" src="assets/images/icons/linkedin.png" />
      </a>
      <a
        href="https://github.com/tanguyhardion"
        target="_blank"
        rel="noopener noreferrer"
        [title]="'appBar.tooltips.github' | translate"
      >
        <img class="social github" src="assets/images/icons/github.png" />
      </a>
    </div>
    <div class="custom-select" title="Change language">
      <div class="selected-option" [ngClass]="{ open: isDropdownOpen }" (click)="toggleDropdown()">
        <img [src]="selectedLang.flag" alt="flag" class="flag" />
        <span class="arrow" [ngClass]="{ up: isDropdownOpen, down: !isDropdownOpen }"></span>
      </div>

      @if (isDropdownOpen) {
      <div class="options" [ngClass]="{ open: isDropdownOpen }">
        @for (option of filteredLanguages; track $index) {
        <div (click)="selectLanguage(option)">
          <img [src]="option.flag" alt="flag" class="flag" />
          {{ option.label }}
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
