.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 28px;

    &:not(:first-of-type) {
      margin-top: 48px;
    }
  }

  .file-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;

    .file {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .link {
        position: relative;
        padding: 16px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.2rem;
        width: 270px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: var(--link-image), var(--foreground-default);
          background-size: cover;
          background-position: center;
          opacity: 0.2;
          z-index: -1;
          border-radius: 24px;
        }
      }

      .date {
        font-size: 0.8em;
        color: #666;
        font-style: italic;
      }
    }
  }

  .interests {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;

    .interest {
      position: relative;
      font-size: 1.6rem;
      font-weight: bold;
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--interest-image), var(--foreground-default);
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        z-index: -1;
        border-radius: 24px;
      }
    }
  }
}

@media (max-width: 600px) {
  .file-container,
  .interests {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .interests {
    flex-direction: column;
    gap: 32px;
  }
}
