<div
  #card
  class="experience"
  [ngClass]="{ revealed: isRevealed }"
  [ngStyle]="{ '--backgroundColor': backgroundColor }"
>
  <div class="image-container">
    <a [href]="experience.company.link" target="_blank" rel="noopener noreferrer">
      <img
        class="image"
        [id]="'image-' + experience.company.logo"
        [src]="'assets/images/logos/' + experience.company.logo"
        alt="company_logo"
      />
    </a>
  </div>
  <div class="content">
    <div class="header">
      <h2>{{ experience.positionKey | translate }}</h2>
      <div class="chips">
        <div class="dates chip">
          <span class="material-icons">event</span>
          <span
            >{{ formatDate(experience.dates.start) }} -
            {{ formatDate(experience.dates.start) }}</span
          >
        </div>
        <div class="job-type chip">
          <span class="material-icons">description</span>
          <span>{{ experience.jobType | translate }}</span>
        </div>
        <a
          [href]="'https://www.google.com/maps/place/' + experience.company.location"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="location chip">
            <span class="material-icons">location_on</span>
            <span>{{ experience.company.location }}</span>
          </div>
        </a>
      </div>
    </div>
    <div class="description">
      {{ experience.descriptionKey | translate }}
      @if (experience.projects.length) {
      <p>
        <span>{{ projectText }}</span>
        @if (experience.projects.length > 1) {
          {{ 'experience.worked_on_plur' | translate }}
        } @else {
          {{ 'experience.worked_on_sing' | translate }}
        }
        <b>{{ experience.projects.join(', ') }}</b>
      </p>
      }
    </div>
    <div class="footer">
      <p class="name">{{ experience.company.name }}</p>
    </div>
  </div>
</div>
