div {
  &.home-page {
    overflow: hidden;
    max-height: 100vh;
  }
}

main {
  margin: 40px 20px 20px 20px;
}

.backlight {
  position: fixed;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(20px);
}

@media (max-width: 768px) {
  main {
    margin: 20px;
  }
}
