@import "../../shared/utilities.scss";

:host {
  width: 100%;
}

.academic {
  @extend .card-base;
  gap: 30px;
  padding: 24px;

  &.revealed::before {
    opacity: 0.4;
  }

  .image-container {
    width: 300px;
  }

  .content {
    gap: 24px;

    .description {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 1024px) {
  .academic {
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .image-container {
      width: 100%;
      max-width: 200px;
    }

    .content {
      gap: 16px;

      .header {
        flex-direction: column;
        gap: 24px;
      }

      .description {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .academic {
    gap: 10px;
    padding: 10px;

    .image-container {
      width: 100%;
      max-width: 150px;
    }

    .content {
      .header h2 {
        font-size: 1.3rem;
      }

      .chips {
        gap: 4px !important;

        .chip {
          font-size: 0.6rem;
        }
      }

      .description {
        font-size: 1rem;
      }
    }
  }
}
