@import '../../shared/animations.scss';

.projects {
  @extend .page-container;
  @extend .staggered-animation;
}

.disclaimer {
  text-align: center;
  margin: 30px 0;
  color: var(--foreground-darker);
}
