<div
  #card
  class="project"
  [ngClass]="{ revealed: isRevealed }"
  [ngStyle]="{ '--backgroundColor': backgroundColor }"
  pAnimateOnScroll
  enterClass="animated fadeInUp"
>
  <div class="image-container">
    <img
      class="image"
      id="image-{{ project.image }}"
      src="assets/images/illustrations/{{ project.image }}"
    />
  </div>
  <div class="content">
    <div class="header">
      <h2>{{ project.titleKey | translate }}</h2>
      <div class="chips">
        <div class="duration chip">
          <span class="material-icons">timelapse</span>
          <span>{{ project.durationKey | translate }}</span>
        </div>
        <div class="team chip">
          @if (project.team > 1) {
            <span class="material-icons"> groups </span>
          } @else {
            <span class="material-icons"> person </span>
          }
          <span>
            {{
              project.team > 1
                ? ('projects.team_members' | translate: { count: project.team })
                : ('projects.team_member' | translate: { count: project.team })
            }}
          </span>
        </div>
        <div class="context chip">
          @if (project.context === ProjectContext.Personal) {
            <span class="material-icons"> home </span>
          } @else if (project.context === ProjectContext.School) {
            <span class="material-icons"> school </span>
          } @else if (project.context === ProjectContext.Work) {
            <span class="material-icons"> work </span>
          }
          <span>{{ project.context | translate }}</span>
        </div>
        <div class="technologies chip">
          <span class="material-icons">code</span>
          <span>{{ project.technologies.join(', ') }}</span>
        </div>
      </div>
    </div>
    <div class="description">
      {{ project.descriptionKey | translate }}
    </div>
    <div class="footer">
      @if (project.link) {
        <div class="link">
          @if (project.link.includes('github.com')) {
            <img loading="lazy" class="image" src="assets/images/icons/github.png" />
            <a [href]="project.link" target="_blank" rel="noopener noreferrer">
              {{ 'projects.github_repo' | translate }}
            </a>
          } @else {
            <a [href]="project.link" target="_blank" rel="noopener noreferrer">{{
              project.link.replace('https://', '')
            }}</a>
          }
        </div>
      }
      @if (project.contextLogo) {
        <div class="context-logo">
          <a [href]="project.contextLogoLink" target="_blank" rel="noopener noreferrer">
            <img
              class="image"
              src="assets/images/logos/{{ project.contextLogo }}"
              alt="context_logo"
            />
          </a>
        </div>
      }
    </div>
  </div>
</div>
